.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

label {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.card {
  max-width: 250px;
}

li.nav-item {
  border-bottom: 2px solid #f8f9fa;
}

li.nav-item:hover {
  border-bottom: 2px solid lightgray;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 90%;
  }
}
