body {
  background-color: #E5E7E9;
}

html {
  font-size: 1rem;
}

/*** GLOBAL STYLES ***/
.center-all {
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
}

label {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.card {
  max-width: 250px;
}

.footer {
  position: fixed;
  width: 100%;
  background-color: rgb(212, 212, 212);
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 8px 0px;
}

.footer-image {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.footer-text {
  vertical-align: middle;
}

.footer-text > p {
  margin-bottom: 5px;
}

.badge {
  margin-top: 0px;
}

/*** FLEX BOX STYLING ***/
.flex {
  display: flex;
}

.space-btw {
  justify-content: space-between
}

.center {
  align-items: center
}

.column {
  flex-direction: column
}

/*** NAV LINK ***/
li.nav-item {
  border-bottom: 2px solid #f8f9fa;
}

li.nav-item:hover {
  border-bottom: 2px solid lightgray;
}

a:hover {
  text-decoration: none;
}

/*** PAGE DEFAULTS ***/
.default-margins {
  margin: 0px 10px 80px
}

/*** MARGIN AND PADDING ***/
.border-5-20 {
  border-radius: 20px 5px
}

.btn-pad-10 {
  margin-top: 10px
}

.btn-pad-20 {
  margin-top: 20px
}

.padding-10 {
  padding: 10px
}

.pad-bot-20 {
  padding-bottom: 20px
}

.margin-10 {
  margin: 10px
}

.margin-tb-10 {
  margin: 10px 0
}

.margin-tb-20 {
  margin: 20px 0
}

.margin-lr-10 {
  margin: 0px 10px
}

.margin-top-20 {
  margin-top: 20px
}

.margin-bot-20 {
  margin-bottom: 20px
}

.margin-r-20 {
  margin-right: 20px;
}

/*** ALIGNMENT ***/
.text-center {
  text-align: center
}


.student-image-info {
  max-width: 250px;
  width: 100%
}

.student-image-wrapper {
  margin-right: 20px;
}

/*** HIDE ON MOBILE ***/
.show-small {
  display: none;
  visibility: hidden;
}

@media (max-width: 1400px) {
  .wrapper {
    max-width: 90%;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 0.9em;
  }

  .student-bar {
    display: block;
  }

  .btn-block-bar {
    margin: 10px 0px;
  }

}

@media (max-width: 600px) {
  .campus-bar {
    display: block;
  }
}

@media (max-width: 480px) {

  .student-image-info {
    padding-bottom: 15px;
    width: 100%;
    margin: 0 auto;
  }

  .btn-block-top {
    margin: 10px 0px;
  }

  html {
    font-size: 0.85em;
  }

  .flex {
    display: block;
  }

  .student-image-wrapper {
    max-width: 250px;
    margin: 0 auto;
  }

  .campus-image, .student-image {
    visibility: hidden;
    display: none;
  }

  .btn-inline {
    margin: 0px 10px;
  }

  .footer {
    position: relative;
  }

  .default-margins {
    margin: 0px 10px 30px;
  }

  /*** SHOW ON MOBILE ***/
  .show-small {
    visibility: initial;
    display: inline;
  }
}
